/* IDs */

#everything {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	text-align: center;
}

/* Classes */

.emphasis {
	font-family: 'Lora', serif;
	font-style: italic;
	letter-spacing: 0;
	font-size: 18px;
	font-weight: 300;
}

.item {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	text-align: left;
}

.item h1 {
	font-size: 26px;
	font-weight: 200;
	margin: 0px;
}

.item h2 {
	font-size: 16px;
	font-family: 'Lora', serif;
	font-style: italic;
	margin: 0px;
	letter-spacing: 0px;
}

.item img {
	float: left;
	max-width: 50px;
	height: auto;
	margin-left: 20px;
	margin-right: 40px;
}

.description {
	margin: 20px;
	font-family: 'Lora', serif;
	font-size: 13px;
	line-height: 150%;
	margin-left: 110px;
}

.socialContainer {
	vertical-align: top;
	display: inline-block;
}

.socialText {
	margin-top: 4px;
	display: none;
	font-family: "Raleway", sans-serif;
	color: rgba(0,0,0,0.6);
	font-size: 0.8em;
}

.socialContainer:hover .socialText {
	display: block;
}

.socialImg {
	max-width: 50px;
	max-height: auto;
	margin-left:10px;
	margin-right:10px;
}
	
/* HTML */

a {
	text-decoration:none;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #444;
}

a:active {
	color: #444;
}

body {
	background-color: #D3D7DA;
	margin: 0px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	margin: 10px;
}

h1 {
	color: #444;
	margin-bottom: 15px;
	font-size: 36px;
	font-weight: 600;
}

h2 {
	color: #222;
	text-transform: lowercase;
	font-weight: 400;
	font-size: 28px;
	margin-bottom: 15px;
}

h3 {
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(137, 144, 150, 0.3);
	margin-top: 30px;
	margin-bottom: 30px;
}

p {
	font-family: 'Lora', serif;
}
