body {
  margin: 0;
  background-color: #d3d7da;
  font-family: "Lora", serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 24px;

  text-align: center;
}

.mainList {
  display: grid;
  padding: 16px 24px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 64px;
}

.item {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 32px;

  text-align: left;
}

.item h1 {
  font-size: 26px;
  font-weight: 200;
}

.item h2 {
  font-size: 16px;
  font-family: "Lora", serif;
  font-style: italic;
  letter-spacing: 0;
}

.description {
  font-family: "Lora", serif;
  font-size: 13px;
  line-height: 150%;
}

.item img {
  max-width: 80px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mainList {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .mainList {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }

  .item {
    padding: 8px 0;
  }

  .item img {
    max-width: 64px;
  }
}

.emphasis {
  font-family: "Lora", serif;
  font-style: italic;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 300;
}

.socialContainer {
  vertical-align: top;
  display: inline-block;
}

.socialText {
  margin-top: 4px;
  display: none;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
}

.socialContainer:hover .socialText {
  display: block;
}

.socialImg {
  max-width: 50px;
  max-height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

/* HTML */

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:active {
  color: #444;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #444;
}

.titleBlock h1 {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 600;
}

h2 {
  color: #222;
  text-transform: lowercase;
  font-weight: 400;
}

.titleBlock h2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
  font-size: 28px;
}

h3 {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1px;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgba(137, 144, 150, 0.3);
  margin: 36px 72px;
}

p {
  font-family: "Lora", serif;
}
